# Build outputs
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# Visual Studio
.vs/
*.pdb
*.ilk

# Resharper
_ReSharper*/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
